<h1>！自動販売機！</h1>

<% @drinks.each do |drink| %>
  <p>
    <%= image_tag drink.image.thumb.url if drink.image? %>
    <%= drink.name %>
    <%= drink.price %>
    <%= button_to '購入（未実装）', "xxxxxxxx" %>
  </p>
<% end %>
<%= link_to "【入金画面へ】", "/deposits/show" %>
<%= link_to "【キャンセル】（未実装）", "xxxxxxx" %>
